[2013-09-18 18:25] jbphet opened #1 "Add audio pools to support overlapping sounds"
This is currently only an issue for those platforms where Web Audio API is not supported, e.g. FireFox and IE.  The problem is that HTML5 audio doesn't support playing a sound again once started, so quickly repeated sounds aren't heard.  This can be seen by adding or removing a bunch of batteries in the current repo version of Ohm's Law (I'll publish one shortly and add a link).  There are some ar

[2013-09-27 18:12] jbphet opened #2 "Built versions of sims don't work on non-WebAudio platforms"
The Sound.js object was recently modified to work with the audio plugin.  In the course of doing this, handling for the case where base64 data is directly included was not added for browsers that don't include Web Audio support, such as FireFox and IE.  This is directly related to this issue for the John Travoltage simulation: https://github.com/phetsims/john-travoltage/issues/29.

[2013-09-27 18:24] #2 closed, assigned to nobody

[2013-10-01 05:40] samreid opened #3 "Performance degradation on iPad dragging"
John Travoltage performance in dragging the leg is smooth in:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/0.0.0-dev.10/john-travoltage_en.html

and slow (like 2 frames per second) in:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/0.0.0-dev.11/john-travoltage_en.html

I tracked the problem to vibe's workaround for iOS/Safari.  Here is my conclusion from the Travolt

[2013-10-10 17:44] jbphet opened #4 "Glitchy audio on Win XP Chrome"
First noticed this when testing John Travoltage release candidate on Win XP machine, so tried BAA, and found the 'ding' sound (in the game) to be glitchy too.

JT version: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html

BAA version: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/

Version info from debug screen of JT sim whe

[2013-10-10 17:54] jbphet opened #5 "Audio not playing on FireFox on some operating systems"
Testing of John Travoltage and BAA simulations reveal that there are some cases where audio is not playing on FireFox.  Mac OS and Win XP have been found so far to have this problem.  More info soon.

[2013-10-31 19:21] jbphet opened #6 "Audio behavior changed on Firefox 25 - slow or absent audio"
Details to come.

[2013-11-05 23:36] jbphet opened #7 "Reduce the size of the audio effects to the minimum with acceptable sound quality"
It may well be possible to use sound effects encoded at a rate that reduces the size of the files.

[2013-11-07 20:10] #6 closed, assigned to jbphet

[2014-01-03 19:27] olleicua opened #8 "sherpa/base64Binary.js is miscapitalized resulting in the ohms law sim not working on case sensitive filesystems"
steps to reproduce:

1. `git clone git@github.com:phetsims/ohms-law.git`
2. clone other dependencies
3. open in a browser

error:

[code]

[2014-03-04 15:56] samreid opened #9 "Audio not playing in development mode (i.e. unminified requirejs mode) on Firefox 27"
Vasily said:

1.       Sound in Firefox 27 doesn’t play

I use approach from https://github.com/phetsims/john-travoltage/blob/master/js/model/JohnTravoltageModel.js

In file https://github.com/phetsims/fraction-matcher/blob/master/js/model/FractionMatcherModel.js I initialize then (line 38)

And in file https://github.com/phetsims/fraction-matcher/blob/master/js/model/LevelModel.js I played them (

[2014-04-14 22:08] pixelzoom opened #10 "vrepository has no LICENSE file"

[2014-04-17 17:00] #10 closed, assigned to nobody

[2014-05-23 03:49] samreid opened #11 "Add second argument 'soundEnabledProperty' to Sound?"
I think it will clean up several usage sites if we can add a second parameter to the Sound constructor, which is a Property<Boolean> for soundEnabledProperty.  This will be an optional parameter, and when the sound is played, if this parameter was provided the sound will only be played if the sound was enabled.

An alternative would be to add a Static method on Sound that turns all sound on/off.

[2014-06-25 01:57] samreid opened #12 "audioEnabledProperty defaults to true. Won't some sims want a default of false?"
soundEnabledProperty defaults to true.  Won't some sims want a default of false?

[2014-08-27 16:24] samreid opened #13 "Audio not working on Win8/FF31"
Building the latest master of John Travoltage or Balancing Act produces no audio in Win8/FF31 (even though Win8/Chrome does have audio).  See https://github.com/phetsims/john-travoltage/issues/75

This message prints to the Firefox console:

[code]

The latest published John Travoltage does have audio on FF31 https://phet.colorado.edu/sims/html/john-travoltage/latest/john-travoltage_en.html

But t

[2014-11-12 19:18] #13 closed, assigned to samreid

[2015-01-06 19:17] pixelzoom opened #14 "clean up vibe"
vibe needs some clean up.

✓ test/play_sound.hmtl is broken (AXON/Property not found)
• there are multiple .html files in experiments/, with little/no documentation about what they are for
• experiments/basic_howler_test.html is broken (cannot read property '1' of null)
✓ tests/play_sound.hmtl should get requirejs from sherpa and delete lib/
X combine tests/ and experiments/ ?
✓ put all source cod

[2015-01-06 19:21] pixelzoom commented on #14
If howler.js is continued to be used, it should be moved to sherpa, and added to PhET's spreadsheet of 3rd-party libs/licenses.

[2015-01-06 19:26] pixelzoom commented on #14
I added .gitignore and deleted vegas.iml.

[2015-01-06 19:32] pixelzoom commented on #14
Re "combine tests/ and experiments/ ", @jbphet said:

[2015-01-06 20:09] pixelzoom commented on #14
I did most of the cleanup, including making the test work (since @jbphet said it was intended to be maintained.) I put a check mark next to the things that are done above.

The remaining cleanup will need to be done by @jbphet. It's all related to stuff in the experiments/, and since some of that is broken, I can't proceed.

[2015-01-13 21:13] pixelzoom commented on #14
While reformatting code for https://github.com/phetsims/joist/issues/173, I accidentally reformatted howler.js and base64-binary.js, because they should not be here.  I deleted base64-binary.js and replaced with ../../sherpa/base64binary.js.  I moved howler.js to sherpa, and added it to "PhET HTML5 Simulation 3rd Party Libararies", https://docs.google.com/spreadsheets/d/1XWlHFidztUT6ARb7yHQ1Naepd6

[2015-01-13 21:14] pixelzoom commented on #14
Remaining work is to document the experiments and make them work.

[2015-01-13 21:32] pixelzoom commented on #14
Commits that were made with wrong issue number: https://github.com/phetsims/vibe/commit/eb121c57ea54c08bbe03320d358f304f54e1eb5d, https://github.com/phetsims/vibe/commit/8b686b0ad3b75a6f3b6162aab8d64d46ac3ade48

[2015-01-13 21:56] pixelzoom commented on #14
I took a stab at making the experiments work. Bu the following are still broken:

basic-howler-test.html
combine-web-audio-and-html5-audio.html
ipad-base64-audio-test-02.html

[2015-03-25 21:32] pixelzoom commented on #12
I'm not convinced that we want our implementation to be based on that assumption.

[2015-03-25 21:34] pixelzoom commented on #8
@olleicua did this resolve the problem that you reported?

[2015-03-25 21:36] pixelzoom commented on #5
It's been 17 months since @jbphet wrote:

Closing.

[2015-03-25 21:36] #5 closed

[2015-05-05 16:39] jonathanolson opened #15 "Investigate built-in replacements for base64binary.js"
In Node.js, this would be ```new Buffer( base64String, 'base64' )``` to decode, ```buffer.toString( 'base64' )``` to encode.

In the browser, atob() and btoa() handle the same type of thing.

Would allow us to remove the base64binary.js dependency.

[2015-05-05 16:46] pixelzoom commented on #15
Somewhat related to https://github.com/phetsims/chipper/issues/32

[2015-05-08 03:35] pixelzoom commented on #15
@jbphet I see that you removed base64binary.js. Can this issue be closed?

[2015-05-08 15:33] jbphet commented on #15
base64binary has been removed as a dependency, and I've done what I think is needed to remove it from the dependency repo (sherpa), including the license generation.  Closing.

[2015-05-08 15:33] #15 closed

[2015-05-08 15:43] jbphet commented on #8
Haven't heard anything back from @olleicua, and the dependency on base64binary has been removed so this shouldn't be an issue any longer.  Closing.

[2015-05-08 15:43] #8 closed

[2015-05-08 16:45] olleicua commented on #8
Sorry, our project isn't on the latest version of Phet.  We just renamed the file and changed all of the references to it.

[2015-05-22 20:06] pixelzoom commented on #7
Do we want to do this before "Summer 2015 redeploy"?

[2015-05-22 20:08] pixelzoom commented on #11
See https://github.com/phetsims/vibe/issues/12. I'm not convinced that having a global soundEnabledProperty is a good idea.

[2015-05-28 18:19] jbphet commented on #4
Discussed this in the 5/28/2015 developer meeting, and we no longer support XP.  This issue doesn't manifest on Win 7 and Chrome.  Closing.

[2015-05-28 18:19] #4 closed

[2015-06-17 20:04] jbphet commented on #9
I just tested the development (unminified) versions of john-travoltage, fraction-matcher, area-builder, and ohms-law on Windows 7 + Firefox 37.0.2 and on Mac OSX 10.10.2 + Firefox 36.0.1, and sound worked fine for all sims on both platforms.  Seems like this was a Firefox issue that has been resolved.  Closing.

[2015-06-17 20:04] #9 closed

[2015-06-22 18:42] jbphet commented on #3
I tested this issue on two different iPad 2's, one running iOS 7.1 ("Lave", which is an A1395) and one running iOS 8.3 ("Magnus", also an A1395).  The test was to load the current master version of the john-travoltage sim, which is version 1.2.0-dev.1, with profiler enabled, then move the foot back and forth at a moderately rapid rate until there was a steady stream of electrons going from the foo

[2015-06-22 18:55] jbphet commented on #3
For good measure, I ran the same tests described above on an iPad 3 (Disessa, an A1416) running iOS 8.3.  The min frame rate was 10 fps, and it was the same with the workaround as it currently stands, with the workaround with @samreid's additional lines of code, and with the workaround completely removed.  Also, on this device, sound did not play when the workaround was removed.

[2015-06-22 18:56] jbphet commented on #3
Based on the tests described above, I recommend simply closing this issue and not changing the workaround.  Assigning back to @samreid to see if he concurs.

[2015-06-23 02:30] samreid commented on #3
Can you be specific about what you mean by "the workaround as it currently stands" and "not changing the workaround"?  What is this workaround?

[2015-06-23 22:06] jbphet commented on #3
@samreid: The workaround is the one that you referred to in the initial creation of the issue when you said:

Its purpose is to make sound work on an iPad by playing silence the first time the user touches anything in the sim.  There is more info in the code comments.  It is currently on lines 182-196 Sound.js in the vibe repository.

[2015-06-23 22:50] samreid commented on #3
Thanks for clarifying, I agree with your remarks here https://github.com/phetsims/vibe/issues/3#issuecomment-114221107.  Closing.

[2015-06-23 22:50] #3 closed

[2015-07-06 22:47] jbphet commented on #7
The primary audio effects in the common code are those used in the game.  There are four sound effects: ding (correct answer), boing (incorrect answer), trumpet (finished level with some correct answers), and cheer (finished level with all correct answers). I normalized all four files to 0.0 dB (see https://github.com/phetsims/vegas/issues/35) and re-encoded them at 32kbps for MP3 and at quality=4

[2015-07-06 22:50] jbphet commented on #7
Assigning to @ariel-phet to help determine how to test these sounds and see if the quality level is acceptable.  I'm thinking we should assign to @bryo5363 or @phet-steele, since they have some audio experience and young ears, and/or @pixelzoom since he also has audio experience.

[2015-07-08 03:05] samreid commented on #7
Did you happen to jot down the sum total size before compression so we can see the difference?  I'm curious.

[2015-07-09 22:07] oliver-phet commented on #7
I tested across my computer using internal speakers and microphone, and 2 iPads and the difference was not noticeable (great job @jbphet!). Closing.

[2015-07-09 22:07] #7 closed

[2015-07-10 15:02] samreid commented on #14
@jbphet may I please delete howler?

[2015-07-14 19:35] pixelzoom opened #16 "vibe build fails"
[code]

[2015-07-14 19:43] pixelzoom commented on #16
I tried to fix this, but there are lots of other problems here...

• missing simTitleStringKey in package.json
• file names don't match repo name (vibe-test-main.js, vibe-test-config.js, vibe-test.html)
• doesn't use PhET framework, so can't find  global.phet.strings

Assigning to @jbphet to decide how to proceed.  Note that this demo is now in chipper/data/active-runnables, so we're going to cont

[2015-07-14 19:43] pixelzoom commented on #16
Recommend to convert this to use the PhET framework (use simula-rasa template).

[2015-07-28 23:09] jbphet commented on #16
This test/demo has now been converted to use the PhET framework.  It builds and runs for me.  Assigning back to @pixelzoom to test the build and make sure it all looks copacetic.  He can feel free to close if so.

[2015-08-03 15:52] pixelzoom commented on #16
Runs and builds for me. Closing.

[2015-08-03 15:52] #16 closed

[2015-08-13 23:50] pixelzoom opened #17 "eliminate vibe-specific code in reportUnusedMedia.js"
I noticed this bit of vibe-specific code in the audio.js plugin:

[code]

This should be fixed.

[2015-08-14 19:31] jbphet commented on #17
Hmmm.  I'm confused by this.  I'm not seeing the code described in audio.js, and I scanned through the recent history and didn't see a place where it was removed.  @pixelzoom - what am I missing?

[2015-08-14 19:34] samreid commented on #17
Perhaps @pixelzoom was referring to code in the reportUnusedMedia.js file, which was removed by @samreid in 78f10d9ab62821bce5415dfd6d33978f8f0a9e1b as part of #261  Let's reassign to @pixelzoom and ask.

[2015-08-14 20:55] pixelzoom commented on #17
Indeed, I meant reportUnusedMedia.js.

[2015-08-14 20:57] samreid commented on #17
I think this was addressed in https://github.com/phetsims/chipper/issues/261, can we close this one?

[2015-08-14 20:59] pixelzoom commented on #17
Yup.

[2015-08-14 20:59] #17 closed

[2015-08-31 19:24] pixelzoom opened #18 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-10-01 20:26] jbphet opened #19 "Can .ogg files be removed?"
When this library was originally created, it required that sounds be supplied in both mp3 and ogg format because Firefox didn't support mp3 and some of the other browsers didn't support ogg.  I just checked, and it looks like support for mp3 files was added to Firefox in release 22, which came out June 25, 2013.  It may be possible to simplify things now and only require one file per sound.

[2015-10-10 08:56] jonathanolson opened #20 "Automated testing error"
In Chrome/Win7:

[code]

[2015-10-29 21:36] pixelzoom commented on #20
@jonathanolson  Details? Is this a build or runtime error? With which sim(s)?

[2015-10-30 01:38] jonathanolson commented on #20
The built 'vibe' runnable, with URL /vibe/build/vibe_en.html. Might be tricky to reproduce OR fixed, as I haven't seen this the last few times.

[2015-10-30 20:08] #18 closed

[2015-11-16 04:25] pixelzoom opened #21 "add namespace"
see https://github.com/phetsims/tasks/issues/378

[2015-11-16 04:45] #21 closed

[2015-11-16 06:38] pixelzoom commented on #20
Still failing. This is failing in some sims too, so it's a little concerning. Poking @jbphet.

[2015-11-16 18:47] jbphet commented on #20
I just ran the RequireJS version on both Chrome+OSX 10.9.5 and Chrome+Win 7 with ```fuzzMouse=100``` and the failure did not occur, so it may be specific to the built version.  I did notice that after roughly ~1/2 hr of the fuzz testing the demo sim would crash with Chrome's "Aw snap..." message, so I should profile and make sure that this isn't leaking memory.

[2015-11-16 18:51] pixelzoom commented on #20
As @jonathanolson said in https://github.com/phetsims/vibe/issues/20#issuecomment-152377434, it's the built version.

[2015-11-16 19:01] jbphet commented on #20
Yes, I know, I was just noting that it does not appear to be reproducible on the RequireJS version, and I wanted to record that there may be an issue with leaking memory.

[2015-11-16 19:44] jbphet opened #22 "potential memory leak"
While investigating #20, I found that after extensive fuzz testing the demo/test app (i.e. vibe_en.html) would crash in Chrome with the "Aw, Snap!" error.  This could indicate a memory leak.  I ran fuzz testing with ```fuzzMouse=100``` and took heap snapshots, sorted the data by the "object" column and the "Retained Size" column, and it does appear that something is leaking.  Screenshots below.

A

[2015-11-16 22:33] jbphet commented on #20
This issue is due to a race condition where the loading of the audio has not completed by the time the fuzz test starts pressing buttons.  It only happens right after startup if it happens at all, so running the fuzz test for a long period doesn't help to reproduce it.  I've added an ```if``` clause that skips playback if the audio data is not finished loading.  I verified this solution by loading

[2015-11-16 22:34] jbphet commented on #20
Assigning to @pixelzoom to verify.

[2015-11-16 22:35] jbphet commented on #14
The "Howler" library has been removed, and I also went ahead and deleted the experiments.  Most of them are out of date at this point, since web audio has evolved a lot since this library was created.  That should cover everything logged in this issue is needing cleanup, closing.

[2015-11-16 22:35] #14 closed

[2015-11-17 17:21] #20 closed

[2015-11-19 21:07] pixelzoom opened #23 "add demo app to phetmarks"

[2015-12-02 16:10] jbphet opened #24 "Investigate simplifying to use Web Audio API for everything"
The Web Audio API has evolved quite a bit since Vibe was first created.  It may be possible to simplify much of what was originally done.  This should be investigated and done if possible.

Article that might help: http://www.sitepoint.com/creating-fun-immersive-audio-experiences-web-audio

Related issue: https://github.com/phetsims/vibe/issues/19

[2015-12-02 16:14] jbphet commented on #23
It's there as far as I can tell, and was added back in July of this year.  See https://github.com/phetsims/phetmarks/commit/1822b9b798f6503132e9147cfdcd5be5383ae009.  Am I missing something?

[2015-12-02 17:05] pixelzoom commented on #23
Sorry, I should have been more specific.  At the top of phetmarks, there's an entry for every common repo that has an "example" application.  See screenshot below.  Vibe's example is absent.

![screenshot_106](https://cloud.githubusercontent.com/assets/3046552/11537819/2048bfd0-98dc-11e5-855c-512c4af51473.png)

[2015-12-08 22:00] jbphet commented on #23
Got it, and did it.  Closing.

[2015-12-08 22:00] #23 closed

[2016-01-16 14:48] samreid opened #25 "instrument the "continue" button at the end of a game"
From https://github.com/phetsims/build-an-atom/issues/107, we need to instrument the continue button at the end of a game.

[2016-01-18 06:44] samreid commented on #25
I'm demoting this priority until publication issues are sorted out.

[2016-01-19 16:38] jbphet commented on #25
@samreid - should this issue be in the @vegas repo?

[2016-01-19 16:39] samreid commented on #25
Yes, thanks!  I'll move it soon.

Sam

On Jan 19, 2016, at 9:38 AM, John B <notifications@github.com<mailto:notifications@github.com>> wrote:

@samreid<https://github.com/samreid> - should this issue be in the @vegas<https://github.com/vegas> repo?

-
Reply to this email directly or view it on GitHub<https://github.com/phetsims/vibe/issues/25#issuecomment-172910156>.

[2016-01-20 00:49] samreid commented on #25
Moved to https://github.com/phetsims/vegas/issues/48, closing.

[2016-01-20 00:49] #25 closed

[2016-03-30 17:25] jbphet commented on #22
Memory leaks have been found that may explain what I was seeing here, and that don't relate to vibe, see https://github.com/phetsims/tasks/issues/546, https://github.com/phetsims/joist/issues/327, and https://github.com/phetsims/joist/issues/329.

[2016-03-30 17:35] jbphet opened #26 "replace explicit prototype assignment in Sound.js with inherit(Object,...)"
See https://github.com/phetsims/graphing-lines/issues/13 for original discussion on this pattern.

[2016-03-30 17:41] jbphet commented on #22
I tested the master version, which includes a fix for worst memory leak linked in the comment above, and there was far less leaked memory.  The leakage that is seen now is similar to and probably explainable by the issue noted in https://github.com/phetsims/joist/issues/329.  Here is a screenshot where snapshots were taken at roughly t=0 min, 3 min, and 6 min, as was done above.
![vibe-memory](htt

[2016-03-30 17:41] #22 closed

[2016-04-04 16:23] jbphet commented on #26
Fixed, assigning to @jessegreenberg for review (since it's common code).

[2016-04-07 04:50] jessegreenberg commented on #26
Replacement of direct prototype assignment looks good, and I like the simultaneous documentation reformat :+1: Closing.

[2016-04-07 04:50] #26 closed

[2016-09-20 02:44] samreid opened #27 "Vibe crashed phantom.js"
I'm investigating a build service with phantom.js, it is working nicely except vibe audio is crashing the service.

[2016-09-20 02:46] samreid commented on #27
I committed short circuits above that make the tests work under phantom, @jbphet can you review?

[2016-09-20 17:00] jbphet commented on #27
The changes look fine assuming we incorporate phantomjs into our development processes, but this is the first I've heard about it, so I don't know if using it is a forgone conclusion.  This issue should remain open until either we have decided to use it or not and, if not, these changes should be backed out to minimize cruft.

[2016-09-20 17:25] samreid commented on #27
Question for developer meeting.  Do we want to port simulations to the new platform phantomjs for automated testing and continuous integration?  It would involve avoiding web audio, and some of the methods that are not supported such as Number.isInteger.

[2016-09-22 19:16] pixelzoom commented on #27
Use DOT.Util.isInteger

[2016-09-22 19:17] samreid commented on #27
Consensus: we'll port to phantomjs, but we should also email them and ask them to support functions like `Number.isInteger` etc.

[2016-09-23 15:24] samreid commented on #27
We are proceeding with aqua, hence the vibe fixes will remain here.  Further work in aqua issue mentioned above, closing.

[2016-09-23 15:24] #27 closed

[2016-11-11 20:42] jonathanolson opened #28 "Global audio volume control"
May be generally useful, but desired for automated sim testing.

[2016-11-11 20:45] jonathanolson commented on #28
Added an intermediate GainNode between the sound source and the context's destination. @jbphet, does this look like a reasonable approach?

Also, is that an acceptable query parameter Name (audioVolume)?

[2016-11-11 20:56] jbphet commented on #28
Two comments/questions:

+ I'm curious as to why you went for a volume parameter instead of a simple enable/disable.  I think I would prefer the latter because it's easier to use (I don't have to look up what the range of values is) and I think the case where I'd want to start the sim at, say, 50% volume seems rare to me.  Also, users would have not indication of what this setting is after startup

[2016-11-11 21:06] jonathanolson commented on #28
For test-server testing:

- I want the code to run through the same code-path (including playing the sound and whatever assertions are there), so I wouldn't want to just disable it.
- I still want the audio control buttons to still operate the same way, and I **definitely** don't want mouse clicks to be able to change/re-enable volume set to 0.

It's more of an internal volume control, maybe a dif

[2016-11-11 21:20] jbphet commented on #28
Thanks, that helps to clarify the intent.  Calling it 'testAudioVolume' would probably be better, since the intent is apparently only internal use and testing.

I'm assigning to @ariel-phet to comment.  I know @jonathanolson just wanted to do something quick and easy to solve an immediate problem, and should move forward with that, but I think that this is something that our users might be very in

[2016-11-12 00:01] ariel-phet commented on #28
I think it would be good to have @jessegreenberg weigh in on this question as well as @emily-phet and @terracoda

One potential future use case I see is for sonification, we may need the ability for a user to customize the audio levels of different sounds in the sim, and that is a little different than just adjusting the overall volume one might be using in their speakers or such.

Or as @jbphet s

[2016-11-12 00:02] ariel-phet commented on #28
Please assign back to me once various parties have weighed in, might also warrant a dev meeting discussion.

[2016-11-13 15:20] terracoda commented on #28
Once the sims make more sounds, allowing the user (student or teacher) as mentioned to control the overall volume would be desirable. I'm not sure that controlling the volume of individual sounds would be necessary as the sounds and their intensities would relate to the data they are representing.

[2016-11-14 16:37] pixelzoom commented on #28
Shouldn't this new query parameter be added to phet.chipper.queryParameters? That's the point of  https://github.com/phetsims/chipper/issues/516#issuecomment-260253434.

[2016-11-14 17:32] jonathanolson commented on #28
I believe I had added it in https://github.com/phetsims/chipper/commit/061b176d2ee17bd0a08f4b832e4a0c5f1d5f049a, let me know if there's something else I should do.

[2016-11-14 20:14] emily-phet commented on #28
I agree with @terracoda - the sonifications for the end-user will be layered with volume controlled based on research findings. Users should only have control of overall (whole sim) volume.

Regarding volume control in general, I'm not sure how important within sim volume control is...I typically control the volume of the output device (e.g., the computer speaker) and not the app. I'm not opposed

[2016-11-14 20:36] pixelzoom commented on #28
This:

[code]

Should be this:

[code]

[2016-11-14 20:37] pixelzoom commented on #28
Also need some additional doc for `audioVolume`. Is there a range of allowed values? Should there be a `validateValue` function in the schema?

[2016-11-14 21:23] jonathanolson commented on #28
It should be a non-negative finite number (0.0 and up), with 1.0 being full volume (2.0 being double volume, etc.), and it would be great to have validateValue in the schema.

[2016-11-16 19:37] ariel-phet commented on #28
Marking for dev meeting partially for me so I fully understand this issue (and making team aware of this parameter)

[2016-11-16 23:02] pixelzoom commented on #28
@ariel-phet The primary use of `audioVolume=0` is to turn off audio during automated testing, so you don't have to suffer through N minutes of bleeps and chirps.  Highly unlikely that it would be pubic facing. (And if it were me, I wouldn't have bothered adding this, I would have just muted my audio while testing.)

[2016-11-17 06:05] samreid commented on #28
@jonathanolson QueryStringMachine already supports validateValue, can you add it to the schema and test it?

[2016-11-17 06:08] samreid commented on #28
Vibe already has an axon Property for audioEnabled.  Perhaps (in the long run) it should also have an axon Property for gain.  This will make it possible for us to easily add controls for this in the future.

[2016-11-17 06:29] jonathanolson commented on #28
Sounds good, but then I'll want a query parameter to mute that can't be un-done by a fuzzer doing random things.

[2016-11-17 17:40] pixelzoom commented on #28
I documented audioVolume, added validation, and change Sound.js to use phet.chipper.queryParameters.audioVolume.  @jonathanolson please review.

[2016-11-18 00:13] jessegreenberg commented on #28
IE11 doesn't support the Web Audio API so this was crashing sims that use Vibe.  I added a check for the audio context before creating the gain node.

[2016-11-29 23:20] jonathanolson commented on #28
@pixelzoom and @jessegreenberg changes look good (thanks for catching the IE11 bit).

[2016-11-29 23:20] #28 closed

[2017-01-18 18:36] jbphet opened #29 "move all of the asynchronous loading of sound to the audio.js plugin"
The decoding of audio data into audio buffers is currently handled in `Sound.js`.  It is an asynchronous operation, and should be handled in the `audio.js` plugin instead.  This was originally pointed out by @jonathanolson in https://github.com/phetsims/john-travoltage/issues/163, where some explicit code was needed in order to handle the loading of the sound(s).  This should work more similarly t

[2017-01-18 18:38] jbphet commented on #29
While investigating this, @jonathanolson and I saw that the code in `SimLauncher.js` that prevents the sim from launching until all images are loading should be generalized so that it can track loading of any resource, and then be used to track loading of audio resources.

[2017-01-18 18:53] jbphet commented on #29
@jonathanolson and I looked at this together and came up with a very rough plan of what would need to be done on this.  We captured it below.  We did this because we suspect that this will be made a low priority for now, but will be needed if and when sonification becomes a higher priority, and we will want to refer to these notes at that time.

+ Decide if we can get rid of the .ogg files and onl

[2017-01-18 18:53] jbphet commented on #29
Marking for developer meeting so that we can decide on priority and schedule.

[2017-01-19 17:03] pixelzoom commented on #29
My 2 cents on https://github.com/phetsims/vibe/issues/29#issuecomment-273565595:

Reducing to one audio file type would be great.

Rather than putting this in SimLauncher, how about putting it in a new module (e.g. ResourceLoader)? Or maybe even having AudioLoader, ImageLoader, etc.  Whatever the approach, let's avoid one monolithic module.

[2017-01-19 17:38] samreid commented on #29
Everything above sounds good, I would add that the current API is like so:

[code]

It seems to me that a superior API would be:

[code]

[2017-01-19 18:37] samreid commented on #29
@ariel-phet suggested @jbphet could work on this after working on the radio button issue.  @jbphet mentioned that he has many higher priority issues at the moment.

Consensus: @jbphet will work on higher priority issues before starting on this.

[2017-04-13 21:20] phet-steele opened #30 "Change in Web Audio API broke all sims with audio on Safari"
Specifically on macOS 10.12.4 Safari 10.1 and mobile Safari iOS 10.3.1. Audio will not play and certain sims will become unresponsive.

See the changes to the API here: https://www.w3.org/TR/2012/WD-webaudio-20121213/#DeprecationNotes

See the potential fix here: https://github.com/phetsims/vibe/commit/3b54a8c42c7009d809b6064834d16430b2eb4729

@phet-steele has tested the fix on:

- Win 10 Edge, FF

[2017-04-13 21:42] jbphet commented on #30
The commit looks good to me.  Now we need to decide if maintenance releases are necessary for all sims that use sound.

[2017-04-13 21:43] jonathanolson commented on #30
I'm already in a maintenance release process, so integrating this fix doesn't sound hard at all.

[2017-04-16 17:37] jonathanolson commented on #30
Deployed in maintenance releases, closing.

[2017-04-16 17:37] #30 closed

[2017-04-17 16:37] jbphet commented on #30
Thanks @jonathanolson!

[2017-10-26 07:06] jonathanolson opened #31 "Canary warning message"
It would be good to know (a) what we should use instead, (b) whether we'll need to push out maintenance releases (if old versions of sims will error out in chrome)

[2017-10-26 16:08] pixelzoom commented on #31
If it's in Canary but not in GA, how about being proactive and reporting it?

[2017-10-26 16:09] pixelzoom commented on #31
Ah... I see, it's a notice that a feature will be deprecated.  How about complaining to Google then?

[2017-10-26 18:52] ariel-phet commented on #31
Worthy of investigation, but @jbphet quick looks suggest it will not "break" our sims, and this feature is currently rarely used.

[2017-10-27 23:07] jbphet commented on #31
I committed a fix for this and tested on Chrome Canary, Chrome, Firefox, IE11, and Edge - all on my Win 10 machine - and saw no problems.  This should prevent the warning for all future release.

I'm about 95% sure that this won't cause any problems for published sims when it moves into the main release of Chrome.  We will likely see the error message on the console, but I don't think it will caus

[2017-10-28 00:52] ariel-phet commented on #31
@jbphet yes I think a calendar reminder would be good. Perhaps close this issue, make a calendar reminder, and open a new issue at that time if necessary.

[2017-10-30 18:10] jbphet commented on #31
Okay, I'll put a reminder on my calendar and will check to see whether this feature has made it into the main Chrome release and verify that no problems occur with our sims if and when it does.  If it **does** introduce problems, I'll either reopen this issue or log a new once, dependent upon the details.  Closing (at lease for now).

[2017-10-30 18:20] pixelzoom commented on #31
Searching for "gain.value",  I still see the deprecated feature in john-travoltage (21 occurrences) and phet-io-wrapper (42 occurrences).  Shouldn't those occurrences also be replaced by `setTargetAtTime`?

[2017-10-30 18:36] jbphet commented on #31
Over slack, @pixelzoom asked which sims are affected by this, and the answer is any that use the `Sound.js` type, either directly or through the inclusion of another library that includes it.  For instance, vegas (the game support library) has a type called `GameAudioPlayer.js` that is used in most if not all sims with game screens, and `vegas/GameAudioPlayer` uses `vibe\Sound.js`, so sims that us

[2017-12-13 19:29] phet-steele commented on #31
My Canary sounds fine as of this writing. Assigning to myself to check again once this deprecation is in the stable release.

[2017-12-13 19:31] phet-steele commented on #31
Canary sounds fine on my computer. Assigning to myself to check again once this deprecation is in the stable release.

[2017-12-13 19:32] phet-steele commented on #31
My computer is flipping out! Hooray for a double comment!

[2018-01-24 19:36] phet-steele commented on #31
@jbphet I should mention there is another warning too. How bad is this one?

[code]

[2018-01-25 16:45] jbphet commented on #31
@phet-steele - It is essentially the same warning, just in more general form, and they are saying that it won't stop working, so there should be no detrimental effects on our sims. Still, I'll make it a priority to address this, since I think it should be pretty straightforward, and I know it's disconcerting to see these warnings.

[2018-01-25 22:58] jbphet commented on #31
@phet-steele - what were you running when you saw this?

[2018-01-31 21:20] phet-steele commented on #31
The production version of john-travoltage.

[2018-02-26 19:30] jbphet commented on #31
The production version of john-travoltage, and any other currently published sim with the code prior to the fix, will print out this error.  The only thing we could do about it is to publish maintenance releases, but I feel reasonably confident (as described above) that these warning do not indicate that the sim will behave incorrectly or sound bad.

I'm going to leave this open so that I remember

[2018-03-01 19:10] samreid commented on #19
@pixelzoom @jbphet and I decided to reopen this discussion now that we are working more heavily on sonification.

[2018-03-01 20:02] pixelzoom commented on #19
Publish a dev version without .ogg and have QA test on all platforms.

[2018-03-06 00:18] jbphet commented on #19
Note to self: To avoid creating any potential instability on master, I'll be doing a lot of the testing and work for this on branches.  These branches will need to be merged and deleted before this issue is fully addressed.  The branch name with be the same in all cases: `test-off-file-removal`.

- [ ] : Make sure all `test-ogg-file-removal` branches have been merged, deleted, and their associated

[2018-03-06 00:39] jbphet commented on #19
Data point: I built the Balancing Act simulation before and after the removal of the .ogg files from `GameAudioPlayer`.  I measured the size in each case using the shell command `du -shb`.  Before removal, the resulting sim was 2454795 bytes, after removal it was 2368336 bytes, so the size was reduced by 86459 bytes, which is about 3.7%.  There are four sounds used by the `GameAudioPlayer` type.

[2018-03-06 00:40] pixelzoom commented on #19
@jbphet said:

Did you mean `test-ogg-file-removal` ?

[2018-03-06 00:41] pixelzoom commented on #19
3.7% is a pretty small size decrease.  But I think it will be valuable not to have to create/maintain .ogg files, if they're not needed.

[2018-03-06 00:45] pixelzoom commented on #19
@jbphet said:

[code]

[2018-03-06 01:57] samreid commented on #19
86kb of savings sounds great to me.

[2018-03-06 16:42] jbphet commented on #19
@pixelzoom said:

Yes, and thanks for the edit.

...and also:

I don't think so, I got it off of a man page here: http://linuxcommand.org/lc3_man_pages/du1.html.  It just specifies to output bytes, because the default wasn't giving me the resolution I wanted.

[2018-03-06 16:48] pixelzoom commented on #19
I didn't edit.  It still appears 2 different ways in https://github.com/phetsims/vibe/issues/19#issuecomment-370615231.

[2018-03-06 16:52] jbphet commented on #19
Fixed.

[2018-03-06 16:53] pixelzoom commented on #19
Re `du -b`, @jbphet said:

Yup, that was it.  I didn't realize how much `du` differed across UNIX variants, see https://en.wikipedia.org/wiki/Du_(Unix).  For future reference (writing shell scripts, etc.), `-b` is not part of the SUS (Single UNIX Specification).

[2018-03-06 20:16] jbphet commented on #19
I've built two sims with .ogg files removed, one where the files were removed from the sim itself (Ohm's Law), and one where the .ogg files were removed from common code (Balancing Act).

@phet-steele - please test that the audio works on these two simulations on all of our supported platforms.  The .ogg files were originally included to support Firefox, so please be extra vigilant when testing on

[2018-03-06 20:33] jbphet commented on #31
I tested this on the currently published version of John Travoltage, which is v1.3.1, and the current version of Chrome, which on my machine is `64.0.3282.167 (Official Build) (64-bit) (cohort: 64_167_win)`, and the warning messages appear on the console, but the audio appears to work fine.  This is what I expected.

I am interpreting this to mean that there is no need for maintenance release to c

[2018-03-14 17:38] jbphet commented on #19
When testing is compete on this, please assign back to me.

[2018-03-16 15:52] phet-steele commented on #19
@jbphet this worked well on all our platforms except IE11. I believe you mentioned it was because you were "creating a new AudioContext", which is invalid in IE11.

[2018-03-16 21:30] jbphet commented on #19
I fixed the issue that was causing a problem on IE11, and I'm confident that this won't affect the testing results, since it's an isolated change that doesn't have anything directly to do with the .ogg files.  I'm going to move forward with the removal of the .ogg files and the support thereof.

[2018-03-20 21:25] jbphet commented on #29
Undeferring this - a lot of work is being done on the audio portions of simulations, and it would be good to make this part of the effort.

[2018-03-20 21:28] jbphet commented on #19
All .ogg files have been removed, as has all of the code that referenced the .ogg files, mostly indirectly by specifying the name of the audio file without the file type (i.e. `soundEffect` instead of `soundEffect.mp3`).  The license files have also been updated to remove .ogg file entries.

There is one more major piece of work related to this: removing support for the .ogg file format from the a

[2018-03-20 21:30] jbphet commented on #19
@phet-steele - if the testing looks good, please close this issue.

[2018-04-02 16:35] phet-steele commented on #19
👍

[2018-04-02 16:35] #19 closed

[2018-04-23 21:34] phet-steele opened #32 "Autoplay WebAudio cannot start"
When I load https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.1/phet/area-model-algebra_all_phet.html in Chrome, I get the following warning:

[code]
The link: https://goo.gl/7K7WLu
If I see this warning, the audio in that sim does not work. If I don't see this warning, all is well.

I've only seen this on one Win 10 computer (out of three Win 10 Chromes and one macOS 10.13.4 Chrome)

[2018-04-24 00:44] jbphet commented on #32
I tested the area-model-algebra link on Chrome 65.0.3325.181 (64-bit) and had no issues, then upgraded to 66.0.3359.117, and also had no problem.  I then tried it in an incognito window on the upgraded version and also had no problem.  I tested sound in the incognito one and it worked fine.  So, in short, no problems seen.  I'll read up on the issue and see what I can learn.

[2018-04-24 00:52] jbphet commented on #32
It looks like this behavior is something that is being implemented in order to prevent audio from playing on a page without user interaction.  We already have a workaround in place for a similar policy that we ran into a while back for mobile Safari.  It was a bit tricky to implement because Scenery batches events (at least it used to, and I THINK it still does), which means the browser doesn't se

[2018-04-24 12:48] jbphet commented on #32
Thanks @jonathanolson - that may simplify things.  Is there a way to add a listener that basically says "Call this function the first time the user does any interaction with the sim (including keyboard interaction)"?  That, I think, would be the ideal time to create the AudioContext.

[2018-04-24 15:49] jonathanolson commented on #32
For sims, it would be possible to add a one-off input listener to the Display. Does it need to be a specific type of event (like a down), or could it even be a mousemove?

[2018-04-25 15:58] jbphet commented on #32
The goal would be to listen for an event that is sure to happen right away on any of our targeted platform so that the audio context would get created as soon as interaction started.  This would need to be true for mouse events, touch events, and keyboard interaction.  @jonathanolson - what would you recommend for this?  If necessary, we could also set up multiple listeners and just disconnect the

[2018-04-26 01:59] jonathanolson commented on #32
I was skeptical of this, since in the past browsers have restricted things to specific types of events or patterns. I looked into it, and:

- Not any event will trigger this. https://docs.google.com/document/d/1mcxB5J_u370juJhSsmK0XQONG2CIE3mvu827O-Knw_Y/edit#heading=h.t0ybg8byy7bg actually has a list of things that trigger qualify as a "user gesture", which as noted in https://docs.google.com/doc

[2018-04-27 14:57] jbphet commented on #32
Thanks @jonathanolson - looks like you've done some good research here. I'll work with @phet-steele to get a platform on which this can be easily duplicated and will experiment with different solutions.

Note to self: Whatever we come up with for fixing Sound.js in vibe will need to be propagated into tambo.

[2018-05-06 20:38] pixelzoom commented on #32
I'm seeing this warning 100% of the time that I start Equality Explorer in requirejs mode. Chrome 66.0.3359.139 on macOS 10.11.6.

[2018-05-07 19:03] jbphet commented on #32
Bumping the priority on this, will investigate options shortly.

[2018-05-14 21:33] jbphet commented on #32
I learned some things while investigating this problem for Equality Explorer, see https://github.com/phetsims/equality-explorer/issues/98#issuecomment-388969839.

[2018-05-17 00:52] jonathanolson commented on #32
Noticed this icon in the upper-right in Chrome:

<img width="320" alt="screen shot 2018-05-16 at 6 50 33 pm" src="https://user-images.githubusercontent.com/480878/40150953-0d1a70fe-593a-11e8-8594-e2bfec91b288.png">

Looks like it's full-on auto-muting my local server.

[2018-05-17 15:53] jbphet commented on #32
@jonathanolson - I haven't seen the dialog you show above.  Can you provide more details on platform, OS version, and Chrome version where you saw this?

[2018-05-17 16:53] jessegreenberg commented on #32
When running http://localhost:8080/phet-io-wrapper-sonification/ohms-law/html/ohms-law-sonification.html?sonificationFile=sonificationOptions&currentSound=recordedLoop3&voltageSound=clicks&resistanceSound=clicks&accessibility I am able to get the dialog to appear consistently. I also see this in the console:
![capture](https://user-images.githubusercontent.com/6396244/40192017-67ff9e28-59c0-11e8-8

[2018-05-17 18:10] jbphet commented on #32
We (@oliver-phet) will test this on Chrome 67 on Arnab's dev machine and go from there.

[2018-05-17 22:38] oliver-phet commented on #32
@jbphet and I just re-tested on Arnab's machine and it seems an automatic update to Chrome fixed the issue. We were unable to reproduce the bug (with incognito and without) in Version 66.0.3359.181.

[2018-05-23 19:36] jbphet commented on #32
Here is a [link to an article](https://www.engadget.com/2018/05/16/google-chrome-66-muting-autoplay-rollback/) about Google rolling back the auto play muting, but they plan to reintroduce it later.  In case the link goes away, below are some excerpts:

Since this is likely to come back, I should implement code that will make it a non-issue when it does.

[2018-05-23 19:52] jbphet commented on #32
I am now able to duplicate this problem reliably on Chrome 66.0.3359.170 (Official Build) (64-bit) on my Windows 10 machine by setting the `Autoplay policy` flag (which can be found at chrome://flags/#autoplay-policy) to "Document user activation is required" and using the [sim link](https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.1/phet/area-model-algebra_all_phet.html) for which

[2018-05-24 07:59] jonathanolson commented on #32
My understanding is that you aren't creating a promise yourself (`new Promise(...)`) and aren't using any ES6+ features, so it's fine. We should be able to use APIs that return promises.

[2018-05-24 21:03] jbphet commented on #32
Once a fix is in place, we will want to make sure we test it out on versions of Chrome where the autoplay is disabled by default.  I just looked up Chrome's release schedule, here is a screenshot:

![image](https://user-images.githubusercontent.com/3082831/40513542-5cefa6e2-5f63-11e8-9bc2-d2c1a2b16ce1.png)

Based on this, I'll put a recurrent reminder on my calendar to start checking Chrome Canary

[2018-05-24 22:55] jbphet commented on #32
I am experimenting with resuming the audio context on the first user gesture.  I'm going to document what I see pretty thoroughly, since I suspect that Chrome's autoPlay policy may evolve, and it's hard to get old versions of the code, so I want to have good records.  For the tests described below, I was using Chrome Version 66.0.3359.170 (Official Build) (64-bit) on Windows 10 in a freshly create

[2018-05-24 23:08] jbphet commented on #32
I ran a similar test to the one described in the preceding comment but used the John Travoltage sim instead of Area Model Algebra.  When using a mouse, the audio context was resumed on the first mouse down event, so sound was generated during discharge (that's the only time that the current master version of the sim generates sound).

However (and as suspected), if I load the sim, then use the tou

[2018-05-24 23:32] jbphet commented on #32
I tested the code snippet described in https://github.com/phetsims/vibe/issues/32#issuecomment-391890629 on Firefox and didn't quite get the results I expected.  It turns out that in Firefox, the audio context is always initially in the "suspended" state and then automatically transitions to the "running" state later.  This behavior was causing the listener to be attached, and that listener would

[2018-05-25 23:05] jbphet commented on #32
Below is another shot at the code to resume the audio context.  It is in Sound.js just before the constructor is defined.  This includes a bunch of console.log statements so that I can clearly see the order of events.

[code]

Using this code and testing on area-model-algebra and john-travoltage, the sound worked on all platforms, and I found that:

+ On Chrome 66.0.3359.170 + Win10 in a non-incog

[2018-05-25 23:13] jbphet commented on #32
Assigning to @jonathanolson to review.  I tried to do this in a single commit to make maintenance releases easier, and also used a new Scenery feature, so @jonathanolson is probably the best choice.

@jonathanolson - the only thing I'm wondering about is the IOS situation where no user gesture is being received when dragging on a touch screen, such as moving John Travoltage's leg.  My guess is tha

[2018-05-26 00:38] jonathanolson commented on #32
Review looks good. I'm not sure why the gainNode bit was removed in the commit, can you comment on that?

I'm also curious - why not do both workarounds for mobileSafari (i.e. do the silent sound in addition to the normal workaround)?

I feel like I'll be able to handle the commit in whatever way it needs to get rewritten depending on the age of the sim (hopefully all sims that need the patch will

[2018-05-30 18:07] jbphet commented on #32
Responses to review comments:

It probably would have been better to do this in a separate commit - sorry to confuse things.  I noticed that the gain node isn't being used anywhere, so it is unnecessary complexity, and I thought I might as well get rid of it.

When I tested on Mobile Safari, I found that the two workarounds have the exact same effect.  More precisely, on Mobile Safari, the audio c

[2018-05-30 19:59] jonathanolson commented on #32
Ok, sounds good. I'm leaving myself assigned for the maintenance release.

[2018-05-30 20:13] ariel-phet commented on #32
Good maintenance release to perform in the near'ish future (ideally by the end of July)

[2018-07-09 21:50] jbphet commented on #31
I had a reminder on my calendar to check this, and I just did, and the warning message appears to have gone away.  I check this on the 1.3.1 version of JT using the URL https://phet-dev.colorado.edu/html/john-travoltage/1.3.1/john-travoltage_en.html?sonification=jostle, and used the current version of Chrome - 67.0.3396.99 - as well as the current version of Canary - 69.0.3486.0.  The message did

[2018-07-19 19:20] jonathanolson commented on #32
New maintenance release code detects the following release branches:

[code]

[2018-07-19 23:01] samreid opened #33 "Rewrite Vibe to use Tambo"
We are currently in a hybrid situation where we have some sims using Vibe and some sims using Tambo.  This makes it difficult to specify query parameters that will e.g. turn the sound off for all sims.  For example, in Joist, we would like to have a variable `supportsSound` but we are turning that on using `?tambo`.  So it would be good to unify things.  One way to do so would be to rewrite Vibe t

[2018-07-19 23:02] samreid opened #34 "branch: vibe-tambo"
To support https://github.com/phetsims/vibe/issues/33

[2018-07-19 23:06] samreid commented on #33
OK changes pushed, the ball is in your court Mr. @jbphet.

[2018-07-19 23:24] jbphet commented on #33
@ariel-phet - there are a lot of positives to doing this, but one downside with be that we will effectively be ending support for sound on Internet Explorer on any sims hereafter published from master.  In https://github.com/phetsims/tambo/issues/6, we decided that this was okay for tambo, but we weren't really thinking about converting vibe to use tambo at the time.  So, are we okay with this?

[2018-07-20 04:29] samreid commented on #33
The long term solution will be to rewrite the Vibe sims to use Tambo directly.

The advantage of doing this now (at least rewriting Vibe to use Tambo as demonstrated in the branch) is it will allow us to choose the appropriate long term API that we want for sound features, including but not limited to query parameters (that teachers and PhET-iO clients could use).  The other advantage of doing thi

[2018-07-20 22:56] jbphet commented on #33
It just occurred to me that we will probably want to remove the sound control button the game screens if and when we do this.  We will also end up with the sound icon on the nav bar, which won't have any effect on the first two screens.

Note to self: We will also need to add sound support to the sim options in the main file for the sim.

[2018-07-25 04:02] jonathanolson commented on #32
The (very new) maintenance release process spit out:

- [ ] [area-builder 1.1.8-rc.1](https://phet-dev.colorado.edu/html/area-builder/1.1.8-rc.1/area-builder_en.html)
- [ ] [area-model-algebra 1.0.1-rc.1](https://phet-dev.colorado.edu/html/area-model-algebra/1.0.1-rc.1/area-model-algebra_en.html)
- [ ] [area-model-decimals 1.0.1-rc.1](https://phet-dev.colorado.edu/html/area-model-decimals/1.0.1-rc

[2018-07-25 04:03] jonathanolson commented on #32
Also whoops on the above list, I'll need to do additional chipper 2.0 detection to get the directories right.

[2018-07-25 04:12] jonathanolson commented on #32
Take two at the links:

- [ ] [area-builder 1.1.8-rc.1](https://phet-dev.colorado.edu/html/area-builder/1.1.8-rc.1/area-builder_en.html)
- [ ] [area-model-algebra 1.0.1-rc.1](https://phet-dev.colorado.edu/html/area-model-algebra/1.0.1-rc.1/phet/area-model-algebra_en_phet.html)
- [ ] [area-model-decimals 1.0.1-rc.1](https://phet-dev.colorado.edu/html/area-model-decimals/1.0.1-rc.1/phet/area-model-d

[2018-07-25 17:58] jbphet commented on #31
I just searched through the code base for all instances of `.gain.value = ` and found 56 matches in 26 files.  All of these files are in either the prototype sonification code in the john-travoltage repo or the phet-io-wrapper-sonification repo.  The former is due to be replaced in about a month as the 'real' sonification is added.  The latter is prototyping code used for demonstrating sound desig

[2018-07-25 17:58] #31 closed

[2018-07-25 19:16] jbphet commented on #32
Chrome Canary just updated to version 70.  The full version string is:

```70.0.3501.2 (Official Build) canary (64-bit)```

I just tested the [link that originally revealed this issue to us](https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.1/phet/area-model-algebra_all_phet.html) and got a warning that looks like the Chrome team has not re-enabled the blocking of autoplay yet, but p

[2018-07-25 19:48] jbphet commented on #32
I looked around to see if there was a way to force Chrome 70.0.3501.2 to actually block the audio context, and I found something promising.  It was to run Chrome with the flag `--disable-features=AutoplayIgnoreWebAudio` and I saw it here: https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio.

With this flag enabled, the error message changes, but audio still works, wh

[2018-07-25 19:57] jbphet commented on #32
@jonathanolson asked:

Unfortunately, with Chrome 70 not yet implementing the policy, there isn't a good way to test that the patch process was successful.  I can't think of much else to do other than waiting until the policy is implemented and the behavior is reproducible before testing this.  I've put monthly reminders on my calendar to check the state of it, and will update this issue with any

[2018-07-25 21:10] jonathanolson commented on #32
Ok, created the instructions in the above linked issue (https://github.com/phetsims/special-ops/issues/112)

[2018-07-26 19:37] jonathanolson commented on #32
Ack, it looks like the vibe patch also will depend on a Scenery patch for userGestureEmitter. I'll need to add those in.

[2018-07-30 18:30] jbphet commented on #32
I have added a monthly reminder on my calendar to test this so that we can determine when it gets turned on and test the maintenance release.  In the mean time, I'm going to unassign myself.

[2018-07-31 23:04] ariel-phet commented on #33
Currently it does not make sense to go retrofitting existing sims, and am not prepared to drop support for IE 11 just yet.

We can revisit this discussion when we drop IE 11 support.

@samreid feel free to close or mark deferred.

[2018-07-31 23:09] samreid commented on #33
No work will need to be done on the existing sims, we can use the branch that @jbphet and I already developed which is only a change in the vibe repo.

What is the timeline for publishing our first "sonification" simulation with tambo implementation?  What is the timeline for republishing a vibe simulation out of master (not a maintenance release)?  How hard would it be to add (even rudimentary, i

[2018-08-01 15:50] jbphet commented on #33
There will need to be a bit of work done: Existing sims have sound on/off buttons on the screens where the sound exists.  This button will need to be removed, since it will be redundant with the one on the nav bar.  One could argue that it doesn't NEED to go, but it seems like a confusing user interface to have the same control in two places.

[2018-08-01 18:18] lmulhall-phet opened #35 "Sound not working with iOS 11.4.1 + Safari 11.0 Mobile + iOS 9.3.5"
Found while doing testing for https://github.com/phetsims/special-ops/issues/112#issuecomment-409089475.

This is a bizarre issue. Sound in our simulations is not working with iOS 11.4.1 + Safari 11.0 Mobile. Sound isn't working at all on Pauling (iPad Air 2 + iOS 11.4.1 + A1566), but does seem to work initially on Dalton (iPad Air 2 + iOS 11.4.1 + A1566). However, if you leave the sim running for

[2018-08-02 16:13] samreid commented on #33
At today's status meeting, @jbphet said he hopes to publish two sonified sims by the end of September.

[2018-08-08 16:10] KatieWoe commented on #35
This issue can occur after leaving phetsims/QA/issues/162 running for several minutes on Tycho (iPad 2 + iOS 9.3.5).  This lends support to @lmulhall-phet s thought that this is not necessarily iOS 11.4.1 exclusive.
@pixelzoom @jonathanolson

[2018-08-08 16:12] pixelzoom commented on #35
@KatieWoe Is this problem also present in published versions that preceded @jbphet's recent changes to sound?

[2018-08-08 16:15] pixelzoom commented on #35
For example... Is this problem present in [Equality Explorer 1.0.0-rc.2](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-rc.2/phet/equality-explorer_en_phet.html)?  If not, then the problem was likely introduced by @jbphet's recent sound changes. The branch he was working in was merged to master _after_ the publication of Equality Explorer 1.0.0.

[2018-08-08 16:31] KatieWoe commented on #35
@pixelzoom
Just tested this issue on https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-rc.2/phet/equality-explorer_en_phet.html with an iOS 11.4.1 device and the sound is not playing at all.  Have not yet encountered the iOS 9 version of the problem where the sound cuts out after a certain amount of time.

[2018-08-08 16:52] KatieWoe commented on #35
I will note that the iPad 2 already has a tendency to crash on some sims if they are left open for a time.  This is a known issue and only dealt with if the crashes happen very frequently.  When it crashes it reloads and this fixes any sound issues that occurred.  I did just find that after being open for awhile, the iOS 9 device has lost sound on the equality explorer 1.0.0-rc.2

[2018-08-08 16:54] pixelzoom commented on #35
Lost sound + crashing probably equates to running out of memory.  And Equality Explorer is an especially large sim.

[2018-08-08 16:55] KatieWoe commented on #35
I agree.  This makes me think that the iOS 9 and the iOS 11 issues may be separate after all.

[2018-08-08 22:14] jonathanolson commented on #32
Maintenance deploys for this completed. @jbphet anything else to do?

[2018-08-09 16:24] jonathanolson commented on #33
I'm not that familiar with the pros/cons. It seems like a lot of the work might already be in a branch?

[2018-08-09 22:56] jbphet commented on #32
Thanks @jonathanolson.  There's nothing more to do until the policy is actually implemented in either Chrome Canary or Chrome Beta, at which point I'll verify that this works correctly.  I have reminders on my calendar to check this regularly.

[2018-08-09 23:29] samreid commented on #32
Would `chrome.exe --disable-features=AutoplayIgnoreWebAudio` allow you to test this before the new chrome is out?  See https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio

[2018-08-10 19:53] jbphet commented on #32
@samreid said:

Good question, and my apologies for not documenting my prior experiences with this flag.  The documentation would lead you to believe that this flag should make it possible to test the case where the audio context isn't enabled at startup, and it *kind of* does, but not entirely.  When I run Chrome Canary version 70.0.3518.0 with this flag, the audio context is indeed not allowed t

[2018-08-13 16:43] pixelzoom commented on #35
@ariel-phet This issue is blocking RC testing of RPAL, https://github.com/phetsims/QA/issues/162.  Do you want to wait until it is addressed, or proceed with RC testing and address in a future maintenance patch?

[2018-08-13 21:33] ariel-phet commented on #35
@pixelzoom since this issue apparently exists in the published sim (and has not been user reported) I think it is fine to address in a future maintenance patch.

[2018-08-16 03:10] samreid commented on #33
Summary of known pros:

* Reduce Sound.js down from 227 lines of code to 44 lines of code.
* We will have a single audio solution that we need to maintain/debug (tambo) instead of two substantially different ones (tambo + vibe)
* This will help us get more experience and testing with our long-term sound implementation.

Summary of known cons:

* New publications from master won't support IE11 (as

[2018-08-16 17:34] pixelzoom commented on #33
I think it would be good to proceed with this sooner rather than later, but after tambo review.

[2018-08-22 19:15] jbphet commented on #32
A calendar reminder went off for me to test this, and Chrome Canary is now at version 70.0.3530.0.  The behavior has not changed.  To summarize, the behavior is as follows:

+ If a sim is launched and an audio context is created, the audio context is in the "running" state, so there is no need to resume it.
+ If I launch version 70.0.3530.0 using the flag `--disable-features=AutoplayIgnoreWebAudio

[2018-08-23 17:04] samreid commented on #33
@jbphet said it may be better to port directly to tambo first (instead of an intermediate phase where vibe is implemented with tambo).

[2018-08-23 17:04] Denz1994 commented on #33
@ariel-phet suggests having detection for IE11 and if it is there sound button present in the sim it needs to be removed. Also, an issue should be made in each repo and on next sim run through the sound button should be made compatible with tambo sounds.

@pixelzoom mentioned. At this time there are currently 18 occurrences of soundToggleButton in different repos.

[2018-08-23 17:05] samreid commented on #33
@jbphet suggested working on this in October, and we agreed that sounds good.

[2018-09-12 18:26] KatieWoe commented on #35
As noted in https://github.com/phetsims/vibe/issues/35#ref-issue-352589854, this issue also seems to be present in the app, meaning it may not necessarily be a safari based issue.
@jbphet @jonathanolson @pixelzoom

[2018-09-12 19:17] KatieWoe commented on #35
I've been playing around with fixes I've found for 11.4.1 sound issues, and it seems that one of them has worked for Pauling.  I'll keep poking at it for the next few hours to see if the issue comes back and keep you updated.

[2018-09-12 19:43] KatieWoe commented on #35
Documenting some of the steps used in fix here.  I didn't notice it was fixed for some time, so unfortunately I'm not sure what ultimately did it.
Resetting
Turning off bluetooth
settings>sounds>turn on/off/on "Change with Buttons">Alter volume
Adjust notification setting
Turn on/off/on ringer (bell icon)

[2018-09-26 21:49] jbphet commented on #35
I just tested a published sim (Area Model Algebra) on Pauling (iOS version 11.4.1) and Tycho (iOS version 9.3.5) and sound generation worked fine on both.  I also tested an [RC of the John Travoltage sim](https://phet-dev.colorado.edu/html/john-travoltage/1.5.0-rc.1/phet/john-travoltage_en_phet.html), and that also worked fine.  I discussed this with @KatieWoe, and we decided to assign it to @oliv

[2018-09-26 22:04] oliver-phet commented on #35
We rarely receive emails about sound in sims, but will update if we get an email from a user.

[2018-09-26 22:04] #35 closed

[2018-10-04 23:41] zepumph opened #36 "audioVolume query parameter broken?"
My aqua test server has been very loud for a while now, for example I would have thought that http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&sound=muted&testDuration=10000&testConcurrentBuilds=4&brand=phet&fuzzMouse&testSims=ohms-law

Would not make noise, but it does for me.

Furthermore I searched the project for that parameter and seem to only find usages, no place where it i

[2018-10-05 19:05] jbphet commented on #33
Here is a checklist item that should be completed before this issue is closed:

- [ ] Search through the codebase for all usages of the `audioVolume=0` query parameter, which is used in a number of places to mute sounds during automated testing, and replace them with `sound=muted`.

[2018-10-05 20:00] zepumph commented on #36
Works like a charm. Thank you ever so kindly.

[2018-10-05 20:07] zepumph commented on #36
I see this line in Sound.js:

[code]

And I am wondering why you have the undefined check. Aren't phet query parameters guaranteed to be defined at runtime since they are a preload?

On top of that, if you were worried about audioVolume being undefined, wouldn't you also be worried about the queryParameters not being defined, such that you should do null checks for all the objects in that call.

T

[2018-10-08 18:38] jbphet commented on #36
Ah, good call @zepumph , I'd forgotten that the parameters in `initialize-globals.js` are guaranteed to have defined values.  I've simplified the handling.  Please test drive again and close if things look and sound good.

[2018-10-08 19:39] #36 closed

[2018-10-18 15:30] jonathanolson commented on #32
70 went live, and I can confirm this looks bumped to 71:

[code]

[2018-12-11 20:36] KatieWoe commented on #32
71 has implemented this.  When doing an RC with a game I did not encounter any issues with normal use.  If you run a fuzz test the sound will not play as it is not a user input.

[2018-12-17 19:52] jbphet commented on #32
As @KatieWoe noted, this restriction of the audio context is now live in Chrome as of version 71.  I tested several sims, including those with and without our explicit code to handle an initially suspended audio context, and they all still generate sound.  From this testing, it would appear that the policy is implemented such that the audio context is resumed automatically by the browser as soon a

[2018-12-17 19:52] #32 closed

[2019-01-22 18:47] jbphet commented on #33
The fractions issue https://github.com/phetsims/fractions-common/issues/80 may be all or partially addressed by this.

[2019-02-06 16:36] jbphet opened #37 "Firefox is about to implement initial audio blocking, we should test that we handle it"
I just saw [an article about Firefox starting to auto-block audio and video on web pages](https://hacks.mozilla.org/2019/02/firefox-66-to-block-automatically-playing-audible-video-and-audio/) until the user interacts with the page.  Hopefully, this will be handled by the code already in place to handle similar behaviors seen in Chrome and Safari, see https://github.com/phetsims/vibe/issues/32, but

[2019-02-06 19:40] jbphet commented on #37
Assigning to @phet-steele at @ariel-phet's suggestion.

@phet-steele - Can you please get set up to test with the upcoming version of Firefox (which I believe is v66) and test the sims that use the vibe libary and make sure they work?  Some examples are the game screens on Balancing Act and Build and Atom.  The main screen of Plinko also has sound capability.  As mentioned in the related tambo iss

[2019-02-14 20:33] phet-steele commented on #37
Testing suggested sims on Windows 10 with FF 66.0b7: sound works.

However, there was a neat interaction with the dev tools. Opening dev tools for the first time mutes all sound. Closing the dev tools, then opening the dev tools a second time brings sound back. It will even play all the sound it "queued" when sound was muted. This cycle repeats on each successive opening/closing of the dev tool. H

[2019-02-27 00:20] jbphet commented on #37
Since sound will all be using tambo in the future, the fact that it works is sufficient.  I'm not going to worry about the interaction with the dev tools and the vibe version of the sound library.  I'll do some investigation of this for tambo.  Closing.

[2019-02-27 00:20] #37 closed

[2019-03-06 23:59] KatieWoe commented on #33
For https://github.com/phetsims/QA/issues/294, muting while the "you won" cheering is happening does not stop the sound.

[2019-04-30 18:50] KatieWoe opened #38 "Full screen gets rid of sound"
**Device**
Dirac
**OS**
Mac OS 10.11.6
**Browser**
Safari 11.1.2
**Problem Description**
For https://github.com/phetsims/QA/issues/231, did not seem to happen in other sims in this suite for some reason.  Did seem to occur in published version.  Doesn't happen on Mac OS 10.10, but does on versions after that.
Sometimes, when entering full screen mode, the sound in the sim will cut out.  When openi

[2019-06-11 20:43] jbphet commented on #11
Vibe is not going to be used as our main sound library moving forward, and global on/off of sound has been implemented in tambo, which is the new sound library.  Eventually, vibe will be deprecated and, with that in mind, it's not worth spending any effort on a four-year-old GitHub issue.  Closing.

[2019-06-11 20:43] #11 closed

[2019-09-10 22:37] jbphet commented on #38
In https://github.com/phetsims/vegas/issues/77 the `GameAudioPlayer` type was rewritten to use the tambo library instead of vibe.  Since tambo has built-in support for handling Safari's tendency to disable the audio context in full screen mode, the problem described in this GitHub issue should be gone for all simulations that use game sound.  @KatieWoe - please have QA test this and see if it is r

[2019-09-11 15:05] KatieWoe commented on #38
Looks good on a quick check on master.

[2019-09-11 16:35] jbphet commented on #38
Cool.  Closing.

[2019-09-11 16:35] #38 closed

[2019-10-03 23:24] jbphet opened #39 "Sound will sometimes not work on iOS13"
There is a change in iOS 13 where we are no longer able to use the user agent the same way we once did in order for the sim to be able to recognize that it is running on iOS 13.  As a result, some sims can end up in a state where their sound isn't playing.  The currently published versions of "Plinko Probability" and "Forces and Motion Basics" exhibit this problem.  Here is the sequence to reprodu

[2020-01-03 18:19] jbphet commented on #29
I'm going to set the back to deferred.  There is some work afoot to migrate from RequireJS to standard JavaScript module support, which became available in ES6, so revising our RequireJS sound plugin doesn't seem like it would be worth the time.  I'll put a reminder on my calendar to reconsider this in a few months, since by then we will likely have our module support approach worked out.

[2020-03-02 18:30] jbphet commented on #29
This is a non-issue now that we have migrated to ES6 modules and no longer use RequireJS plugins.  Closing.

[2020-03-05 04:18] samreid commented on #29
Please correct me if I misunderstood this issue, but I thought one of the goals was to move the `soundInfoDecoder.decode` phase closer to the SimLauncher phase, so that we can be sure all audio data is decoded by the time the sim starts up.  Like we do with images.  Or would that just unnecessarily delay the launch of the sim by changing a happily asynchronous operation to a synchronous one?

[2020-05-13 19:03] jbphet commented on #33
Due to the changes to sound module loading that were necessary to address https://github.com/phetsims/tambo/issues/100, I have rewritten `Sound.js` to use tambo.  My initial testing shows that this seems to work fine, but there needs to be a bit of followup, and I've listed specific requests below.

In case anyone is wondering why we don't just convert all sims to use tambo instead of vibe, it's b

[2020-05-13 19:05] jbphet commented on #34
Hey @samreid - I think that this branch can probably be deleted now.  True?

[2020-05-13 21:07] KatieWoe commented on #33
@jbphet can you make versions of Molarity, John Travoltage, Plinko Probability, and FAMB? Some devices don't have a VPN, making it hard to check master.

[2020-05-13 21:38] KatieWoe commented on #33
Vibe sound isn't working in IE, even though it should. @jbphet do you want me to continue testing?

[2020-05-13 21:42] jbphet commented on #33
@KatieWoe - Yes.  As noted in https://github.com/phetsims/vibe/issues/33#issuecomment-628185583 (in the part that is marked for @ariel-phet):

He has to weigh in about whether that's okay or not, but it's a known consequence of the work done here.

[2020-05-13 23:45] ariel-phet commented on #33
@jbphet I think considering our IE usage and that we don't really even have good metrics as to how much sound is actually used in the classroom (although we have good anecdotal evidence that students/teachers appreciate the correct "ding" in games) I am fine with this feature just not working in IE.

If we start to get reports emailed to us of sound not working, we can consider hiding the sound bu

[2020-05-14 23:42] jbphet commented on #33
@KatieWoe - I've published the following dev versions in support of this testing (as requested above):

- https://phet-dev.colorado.edu/html/molarity/1.6.0-dev.3/phet/molarity_en_phet.html
- https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.17/phet/john-travoltage_en_phet.html
- https://phet-dev.colorado.edu/html/plinko-probability/1.2.0-dev.5/phet/plinko-probability_en_phet.html
- http

[2020-06-08 21:06] KatieWoe commented on #33
QA is done

[2020-06-09 15:33] jbphet commented on #33
Thanks @KatieWoe.  The only issue that came out of this is closed, so I'm going to go ahead and close this one.

[2020-06-11 21:40] samreid commented on #34
Yes, thanks!  I'll delete it.

[2020-06-11 21:40] samreid commented on #34
Deleted, closing.

[2020-06-22 19:27] jbphet commented on #29
@samreid - You reopened this, undeferred it, and assigned it to me a while back.  I believe what you're referring to here was actually covered by https://github.com/phetsims/tambo/issues/100.  Vibe now uses the same loading mechanism as tambo due to the work done for https://github.com/phetsims/vibe/issues/33.  Are we good to close this now?

[2020-06-22 19:32] samreid commented on #29
Yes, since the decoding is done before SimLauncher is unlocked, that has been accomplished, thanks!  Closing.

[2020-06-22 19:32] #29 closed

[2020-06-22 22:57] jbphet commented on #24
Web Audio is now being used for all sound generation.  Closing.

[2020-06-22 22:57] #24 closed

[2020-06-22 23:00] jbphet commented on #12
There has been a lot of development of sound support, most of it in the tambo repo, and the enabled behavior is now done as described in https://github.com/phetsims/tambo/issues/11.  Closing.

[2020-06-22 23:00] #12 closed

[2020-06-22 23:01] jbphet commented on #1
This is now supported in the `SoundClip` class in the tambo repo by having a single audio source buffer that can be attached to a audio source node and played multiple times.  It seems to work great.  Closing.

[2020-06-22 23:01] #1 closed

[2021-03-22 22:58] oliver-phet opened #40 "User suggestion: allow adaptive sounds and speaker sounds to be independently activated"
Assigning to @jbphet for now.

[2021-07-03 15:48] samreid commented on #33
Reopening based on this TODO:

[code]

[2021-07-06 17:17] jbphet commented on #33
I think it would be safe to remove this query parameter, but we need to check that aqua isn't using it anymore, then verify that things work as intended, which is to say that continuous testing doesn't generate a bunch of sounds.  Plinko Probability would be a good one to test, since it using the `Sound` type from vibe, which now uses tambo.

[2021-07-08 21:37] samreid commented on #33
I got partway through this, but it wasn't clear what to do about this line in Sound.js:

[code]

[2021-07-16 21:06] jbphet commented on #34
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-16 21:06] jbphet commented on #34
Re-deletion complete.  Closing.

[2021-07-16 21:06] #34 closed

[2021-07-16 21:46] jbphet commented on #33
Thanks @samreid.  Before going any further, we should remove all usages of the query parameter and make sure that it doesn't break anything and also doesn't produce horrendous nasty sounds when we don't want them.

I just searched through the code base for usages of `audioVolume`, and found three that should be removed.  The are in `take-snapshot.js` in the aqua repo, in `phetmarks.js` in the phet

[2021-07-19 17:20] jonathanolson commented on #33
@jbphet what should I change the references to, in order to turn off audio (e.g. during fuzzing)?

[2021-07-20 15:26] jbphet commented on #33
I think you may already be using this in most of the places where it is needed, but the query parameter to turn off sound that comes from tambo is `supportsSound=false`.

[2021-10-18 23:26] jbphet commented on #33
Due to the work that has been done for https://github.com/phetsims/joist/issues/734, we have a new query parameter that can be used to disable sounds.  It is `audio=disabled`, and I'm going to use it in `Sound.js`, and then we should have a universal way of disabling sound whether using sounds from the vibe or tambo repos.  While doing this, I also intend to get rid of the `audioVolume` query para

[2021-10-21 20:10] jbphet commented on #33
Cool.  Closing.